/*
 * TeamSpeak 3 Default Qt StyleSheet
 * Special file for Windows Vista/7, loaded in addition to global default.qss stylesheet
 *
 * Copyright (c) 2009-2012 TeamSpeak Systems GmbH
 */

/* Button hover is transparent with Vista style only */
QToolButton#newBookmarkButton:hover, QToolButton#newBookmarkFolderButton:hover, QToolButton#removeBookmarkButton:hover {
	color: white;
}
