[submodule "flavours/php"]
	path = flavours/php
	url = git@github.com:speedovation/kiwi-php-plugins.git
[submodule "flavours/node"]
	path = flavours/node
	url = git@github.com:speedovation/kiwi-node-plugins.git
[submodule "skins"]
	path = skins
	url = git@github.com:speedovation/kiwi-skins.git
[submodule "colorschemes"]
	path = colorschemes
	url = git@github.com:speedovation/kiwi-color-schemes.git
