[Desktop Entry]
Type=Application
Exec=/home/yash/Projects/qt/kiwi/appDebug/KiWi -platformtheme appmenu-qt5  
Name=KineticWing
GenericName=The IDE of choice for web development.
Icon=/home/yash/Projects/qt/kiwi/app/theme/source_code-64.png
Terminal=false
Categories=Development;IDE;Web;
MimeType=text/x-c++src;text/x-c++hdr;text/x-xsrc;application/x-designer;application/vnd.qt.qmakeprofile;application/vnd.qt.xml.resource;text/x-qml;text/x-qt.qml;text/x-qt.qbs;
Name[en_IN]=KineticWing
